/********************* ОПИСАНИЕ СЕЛЕКТОРОВ *********************

.StTemaIcon		- Селектор стандартной Иконки Темы
.MyTemaIcon		- Селектор Cвоей(Обычно большой) Иконки Темы
.MyTemaIcon.behind	- Селектор Cвоей Иконки позади Темы(Комметарий картинкой);
a.addIcon		- Селектор ссылки с Иконкой спереди;
a.a.addIcon-B		- Селектор ссылки с Иконкой cзади;
================================================================
Свои(большие) Иконки находятся внутри ссылки  a.addIcon-B;
Cтандартные Иконки вынесены вперёд, перед ссылкой.**************/


.StTemaIcon,
.MyTemaIcon {
  margin-right: 6px;   /*Отступ Иконок от контента ссылки справо*/
}
.StTemaIcon {
  margin-bottom:-3px;  /*Отступ Стандартной Иконки от контента ниже*/
}
.MyTemaIcon.behind {
  margin-top: 4px;     /*Отступ  от контента выше Своей Иконки расположенной за ссылкой*/
  margin-bottom:-1px;  /*Отступ  от контента ниже Своей Иконки расположенной за ссылкой*/
}
.MyTemaIcon{           /* "Украшалки" для Cвоих Иконок всех типов!*/
  box-shadow: 1px 1px 1px #474941;
  border:1px #fff solid!important;
}
.MyTemaIcon:not(.behind){  /* "Украшалки" для Cвоих Иконок расположенной перед ссылкой! */
  box-shadow: 1px 1px 1px #474941;
  border:1px #fff solid!important;
}
.MyTemaIcon.behind {   /* "Украшалки" для Cвоих Иконок расположенной за ссылкой!*/
  border:solid rgba(0,0,0,.2) 1px!important;
}

/* Переключатель отступов на Главной ссылок c Иконками на классику, параметр в скрипте: "ICONS1.classic_correct" */
#pun-index.classic .MyTemaIcon.behind{
  margin-left:0px;     /*Отступ Своей Иконки расположенной за ссылкой от левого края ячейки при открытии Главной страницы форума*/
  margin-bottom:-12px; /*Отступ Своей Иконки расположенной за ссылкой от контента ниже при открытии Главной страницы форума*/
}
#pun-index.classic a.addIcon-B{
  margin-left:-8px;    /*Подвижка ссылки влево на Главной ссылки с Иконкой сзади(Обычно картинка текста-комментария)*/
}
#pun-index.classic .StTemaIcon,
#pun-index.classic .MyTemaIcon {
  margin-left: -8px;   /*Подвижка влево Иконок на Главной */
  margin-right: 6px;
}
#pun-index.classic a.addIcon{      /*Очистка ссылок тем с Иконками от фонов "клювиков" вначале ссылки*/
  background-image:none!important;
  padding-left:0!important; /*Сброс левого отступа от "клювика"*/
}/* End//Переключатель отступов ссылок на Главной */


/* Отдельный Стиль для gif-иконки HELP [http://savepic.ru/7679320.gif]*/
.StTemaIcon[src="http://savepic.ru/7679320.gif"] {
  height:29px;
  width:auto;
  margin-top:-9px;
  margin-bottom: -8px;
}/* END//Отдельный Стиль для иконки HELP */


/**** Стабильный Стиль иконок /лучше не ковырять/ ****/
.StTemaIcon {
  display:inline-block;
}
.MyTemaIcon {
  float:left;
  display:inline-block;
}
.MyTemaIcon.behind {
  display:block;
  float:none;
} /*END//Стабильный Стиль иконок /лучше не ковырять/ ****/