/**********************************************************************************

  СТИЛЬ ДЛЯ Ч2, - Своя(или стандартная) иконка к теме V1.0

***********************************************************************************/

.punbb #wrap-icon-tbl,
.punbb #wrap-icon-tbl tr,
.punbb #wrap-icon-tbl td{
  border-collapse:collapse;
  border:0 none transparent;
}
.punbb #wrap-icon-tbl {
  border:1px solid;
  margin:12px 0 10px 0;
}
.punbb #wrap-icon-tbl td{
  height:auto;
  padding: 3px;
  padding-top:0;
  padding-top:12px;
  width:10%;
  text
}
.punbb #wrap-icon-tbl legend{
  margin:-10px 0 -9px 23px;
  background-color:default;
  position:absolute;
}
.punbb #wrap-icon-tbl td img{
  border:transparent solid 1px;
  padding:3px;
}
.punbb #wrap-icon-tbl td.active img{
  border:red solid 1px!important;
}
.punbb #wrap-icon-tbl input[type="radio"]{
  margin-top:5px;
}
.punbb #wrap-icon-tbl legend span{
  font: normal normal 400 11px/normal Verdana;
}
#post.Up .required.longinput{
  margin-bottom:0;padding-bottom:0;
}

#post .required.longinput .container.view-img{
  height:auto; min-height:40px;
  padding:0 2px 3px 2px!important;margin:0!important;
  font: normal normal 400 11px/normal Verdana;
  display:inline-block;
  position:absolute;
  width:117px;
  right:0;top: 36px;
  /*border:red solid 1px;*/
  text-align:center;
  /* Анимация */
    -webkit-transition-property: top;
    -moz-transition-property: top;
    -o-transition-property: top;
    transition-property: top;
    -webkit-transition-duration: .7s;
    -moz-transition-duration: .7s;
    -o-transition-duration: .7s;
    transition-duration: .7s;
   }
#post .required.longinput .container.view-img.hover {
   top:-15px!important;
}
#post .required.longinput .container.view-img>img{
  margin:2px auto 1px auto; display:block;
  max-height:40px;
  height:auto;
  max-width:114px;
  border:3px solid #fff;
  border-radius:3px;
  box-shadow:0 0 2px #000;
}
#post.Down  fieldset{
  margin-bottom:0;padding-bottom:0;
}
#post div.container { z-index:1}